h1 {
  color: #0000aa;
  padding: 130px 0px;
  height: 500px;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  align-items: center;
  position: fixed;
}

.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
